body {
    background-color: #565656;
}

#main {
    background-color: #F8F9FA;
    min-height: 100vh;
    height: 100%;
    padding: 5px 5px 5px 15px;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(180, 8, 29, 0.57);
    -moz-box-shadow: 0px 0px 40px 5px rgba(180, 8, 29, 0.57);
    box-shadow: 0px 0px 40px 5px rgba(180, 8, 29, 0.57);
}

div.hidden {
    display: none;
}

/* menu */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: rgba(180, 8, 29, 1);
}
.nav-fill .nav-item {
    text-align: justify;
}
.resized {
    min-width: auto !important;
}

.nav-fill .nav-item {
    text-align: justify;
}

.no-background {
    background-color: rgba(0,0,0,0) !important;
}

img.locale-icon {
    max-height: 20px;
    max-width: 20px;
}

/* formulaires */
.bottom-marged {
    margin-bottom: 2rem;
}

.form-error > ul, .form-error > ul > li {
    list-style: none;
}


/* Table*/

.tab-header {
    border-bottom: 2px solid rgba(180, 8, 29, 1);
}

.tab-role-col, .tab-role-row {
    font-weight: bold;
}

.tab-header, .tab-row-striped {
    margin: auto;
    padding: 0.5rem 0;
    text-align: center;
}

.tab-row-striped:nth-of-type(2n+1) {

    background-color: rgba(180, 8, 29,.15);
}


/* paginator */

.page-link {
    color: rgba(180, 8, 29, 1);
}

.page-link:hover {
    color: rgba(180, 8, 29, 1);
    background-color: rgba(180, 8, 29, .15);
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(180, 8, 29, .15);
}

.page-item.active .page-link {
    background-color: rgba(180, 8, 29, 1);
    border-color: rgba(180, 8, 29, 1);
}

@media (max-width: 768px) {
    .tab-header, .tab-row-striped {
        margin: auto;
        padding: 0.5rem 0;
        text-align: left;
    }
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
