{% extends 'base.html.twig' %}

{% block title %}DashBoard | {{ parent() }}{% endblock %}

{% block body %}
    <div class="row" id="formcard">
        <div class="col">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">
                        {% if isedit is defined and isedit %}
                            {{ 'dashboard.title.edit' | trans }}
                        {% else %}
                            {{ 'dashboard.title.create' | trans }}
                        {% endif %}
                    </h5>
                    {% include('dashboard/form/editEvent.html.twig') %}
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="formcard">
        <div class="col">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">{{ 'dashboard.title.list' | trans }}</h5>
                    {% include('dashboard/listEvent.html.twig') %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}


